*{
    font-family: Arial, Helvetica, sans-serif;
}
.main_div{
   
    border: 1px solid black;
    width: 340px;  
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: inherit;
    margin-left: 30%;
    padding:40px;
    border-radius: 4px;
  
}
.main_heading{
padding-left: 100px;
font-family: Arial, Helvetica, sans-serif;
font-weight:normal;
color: #5D5D5D;


}
.para{
    margin-left: 50px;
    width: 250px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 15px;
    color: #6E6E6E;
    font-family: Arial, Helvetica, sans-serif;
}
::placeholder{
    color: #BEBEBE;
    font-size: 15px;
    padding-left: 15px;
}

  
.para_pass_desc{
    font-size: 12px;
    color: #6E6E6E;
    font-family: Arial, Helvetica, sans-serif;
}
.labels{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;

}

.inputs{
    width: 300px;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #BDBDBD;
    border-radius: 1px;
}
.btn1{
    margin-top: 30px;
    width: 300px;
    height: 50px;
    background-color: #2A73CC;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    border:1px solid #2A73CC;
}
.btn2{
    margin-top: 30px;
    width: 300px;
    height: 50px;
    color: black;
    font-weight: bolder;
    border-radius: 2px;
    border:1px solid black;
    background-color: white;
    font-size: 14px;
}
.img_icon{
    width: 20px;
   padding-left: 20px;
   float: left;
}
.icon_img{
    width: 40px;
    padding-top: 10px;
}
.div_bottom{
    display: flex;
    flex-direction: row;
}
.icon_btn{
   
    background-color: white;
    width: 300px;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid #BDBDBD;
    border-radius: 1px;
}
.input2{
    height: 37px;
    width: 238px;
    border:none;
    
}
.inner1{
    flex-direction: row;
    font-size: 14px;
    color: #656565;
}
.inner2{
    flex-direction: row;
    font-size: 14px;
    color: #4F8BD5;
    padding-top: 15px;
    padding-left: 5px;
}
.div_bottom{
    align-content: center;
    align-content: center;
    padding-left: 40px;
}
.a_style{
    text-decoration: none;
    color: #4182D1;
    font-size: 15px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    
}
.a_style2{
    text-decoration: none;
    color: #4182D1;
    font-size: 15px;
    text-align: center;
    padding-left: 34px;
    align-content: center;
    
}
.last_div{
    width: 330px;
   
    font-size: 13px;
    color: grey;
    padding-top:20px;
    padding-bottom: 20px;
}
.last_para{
    width: 320px;
   
    text-align: center;
}
.a_style3{
color: grey;
word-spacing: 1px;
}
hr{
width:70%;
align-content: center;
float: left;
}